parameters:
	ignoreErrors:
		-
			message: '#^Property App\\Entity\\Packaging\:\:\$id \(int\|null\) is never assigned int so it can be removed from the property type\.$#'
			identifier: property.unusedType
			count: 1
			path: src/Entity/Packaging.php

		-
			message: '#^Property App\\Entity\\PackagingCache\:\:\$id \(int\|null\) is never assigned int so it can be removed from the property type\.$#'
			identifier: property.unusedType
			count: 1
			path: src/Entity/PackagingCache.php

		-
			message: '#^Parameter \#1 \$string of function md5 expects string, string\|false given\.$#'
			identifier: argument.type
			count: 1
			path: src/Packing/BestBinCacheService.php
